<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<div th:include="includes/header"></div>
<body>
    <section class="uk-section uk-article">
        <div class="uk-container uk-container-small">
            <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Person</h2>

            <!-- Formulaire  -->
            <form action="/person" method="post" th:object="${formPerson}">

                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">Form Person</legend>

                    <!-- Champ de saisie Firstname -->
                    <div class="uk-margin">
                        <input class="uk-input" type="text" th:field="${person.firstname}" placeholder="Firstname" aria-label="Input">
                    </div>

                    <!-- Champ de saisie Lastname -->
                    <div class="uk-margin">
                        <input class="uk-input" type="text" th:field="${person.lastname}" placeholder="Lastname" aria-label="Input">
                    </div>

                    <!-- Bouton Submit -->
                    <div class="uk-margin" uk-margin>
                        <button class="uk-button uk-button-default">Submit</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </section>
</body>
</html>