<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/uikit-3.16.19/css/uikit.min.css" />
  <script src="/vendor/uikit-3.16.19/js/uikit.min.js"></script>
  <script src="/vendor/uikit-3.16.19/js/uikit-icons.min.js"></script>
  <title>Liste Personne</title>
</head>
<body>
  <section class="uk-section uk-article">
    <div class="uk-container uk-container-small">
      <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Person</h2>


      <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        <!-- Pour chaque personne -->
        <div th:each="person : ${persons}">
          <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <h3 class="uk-card-title" th:text="${person.lastname}"></h3>
            <p th:text="${person.firstname}"></p>
            <!--  Lien pour rediriger vers le form-->
            <a th:href="@{'/person/' + ${person.slug}}">Voir</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>